* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 10px 0 5px 0;
}

.cont {
    width: 100%;
    padding: 10px;
    overflow: hidden;
}

div {
    float: left;
    width: 33.3%;
    padding: 10px;
    overflow: hidden;
}

.sectiontitle {
    width: 150px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 125%;
    font-weight: 600;
    background-color: lightcoral;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.center .sectiontitle {
    background-color: lightgreen;
}

.right .sectiontitle {
    background-color: lightblue;
}

.card {
    float: left;
    position: relative;
    width: 100%;
    padding: 50px 15px 15px 15px;
    background-color: lightgray;
    border: 1px solid black;
}



@media (min-width:767px) and (max-width:992px) {
    div {
        width: 50%;
    }

    div.right {
        width: 100%;
    }
    
}
@media (min-width:992px) {
    div {
        width: 33.3%;
    }
    div.right {
        width: 33.3%;
    }
    
}

@media (max-width:767px) {
    div {
        width: 100%;
    }
}